<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->

</script>
<div class="row">
	<div class="max-1080">
		<div class="row">
			<div class="col-xs-12">
				<!--<div class="row" style="padding: 5px; padding-top:15px;">
					<a href="{{ site.baseurl }}/aboutus">
						<span class="social-footer-links">About Us</span>
					</a>
					<a href="{{ site.baseurl }}/livemusic">
						<span class="social-footer-links">Live Samples</span>
					</a>
					
					<a href="{{ site.baseurl }}/setlist">
						<span class="social-footer-links">Set List</span>
					</a>
					<a href="{{ site.baseurl }}/contact">
						<span class="social-footer-links">Contact Us</span>
					</a>
				</div>
				<div id="footer-social" class="row" style="position: relative; height: 25px;">
					<a href="https://facebook.com/MadTadders" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.youtube.com/channel/UCps30V-Pj_qGEme7PsUFu7w" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="{{ site.baseurl }}/contact"><i class="fa fa-envelope"></i></a>
				</div>-->
				<div id="footer-contacts" class="row">
					<div><i class="fa fa-phone"></i> xxx.xxx.xxxx</div>
					<div><i class="fa fa-envelope"></i>
						<!-- email obfuscators:-->
						<!-- http://www.albionresearch.com/misc/obfuscator.php-->
						
					</div>
				</div>
				<div id="footer-copyright" class="row">
					<p>
						<i class="fa fa-copyright"></i>
						<script type="text/javascript">
						document.write(new Date().getFullYear());
						</script> <!-- NAME HERE-->
						Down on the Farm Gala
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/downonthefarmgala.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
