<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<style type="text/css">
.footer .max-1080 {
	border-top: none !important;
}
</style>
<div class="row">
	<div class="max-1080">
		<div class="row" style="margin-top: 25px; color: #fefefe;">
			<div class="col-xs-12">
				<div id="footer-contacts" class="row">
					<div><i class="fa fa-phone"></i> 608.333.6080</div>
					<div><i class="fa fa-envelope"></i>
					<!-- email obfuscators:-->
					<!-- http://www.albionresearch.com/misc/obfuscator.php-->
					<a style="color: #fefefe" href='ma&#105;lt&#111;&#58;j&#111;shua&#107;au&#114;&#105;&#99;h&#64;gm&#97;&#37;&#54;9l&#46;c&#111;m'>&#106;oshuakaurich&#64;g&#109;ai&#108;&#46;com</a>
				</div>
			</div>
			<div id="footer-copyright" class="row">
				<p>
					<i class="fa fa-copyright"></i>
					<script type="text/javascript">
					document.write(new Date().getFullYear());
					</script> <!-- NAME HERE-->
					Down on the Farm Gala
				</p>
			</div>
		</div>
	</div>
</div>
</div>
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/downonthefarmgala.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->